@if (showProgress) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<div
  class="container w-100 h-100 d-flex justify-content-center align-items-center"
  >
  <div class="col-md-5">
    <mat-card
      style="width: 400px; height: 200px"
      class="d-flex justify-content-between flex-column"
      >
      <div class="div-header">
        <img
          src="assets/utfpr.jpg"
          alt="Logo UTFPR"
          width="50px"
          style="margin-right: 10px"
          />
          <span>Sistema Laboratório - Confirmar email</span>
        </div>
        <mat-card-content class="h-100">
          <form #form class="d-flex flex-column justify-content-around h-100">
            <div class="row justify-content-center mb-2">
              <div class="col-md-6 d-flex justify-content-center mb-3">
                <button
                  mat-stroked-button
                  type="submit"
                  class="w-100 br-25px"
                  color="primary"
                  (click)="submit()"
                  >
                  Validar o email
                </button>
              </div>
              <a (click)="goToLogin()" class="text-center" style="color: #222d43; cursor: pointer"
                >Voltar para a tela de autenticação</a
                >
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
