<mat-nav-list>
  @if (!isAlunoOrProfessor) {
    <a mat-list-item (click)="click('C')">
      <i class="fa fa-2x fa-copy" mat-list-icon></i>
      <span mat-line>Copiar</span>
    </a>
  }

  <a mat-list-item (click)="click('D')">
    <i class="fa fa-2x fa-paste" mat-list-icon></i>
    <span mat-line>Reservas</span>
  </a>

  @if (showEditAndDelete) {
    <a mat-list-item (click)="click('E')">
      @if (!isAlunoOrProfessor) {
        <i class="fa fa-2x fa-edit" mat-list-icon></i>
      }
      @if (!isAlunoOrProfessor) {
        <span mat-line>Editar</span>
      }
      @if (isAlunoOrProfessor) {
        <i class="fa fa-2x fa-eye" mat-list-icon></i>
      }
      @if (isAlunoOrProfessor) {
        <span mat-line>Visualizar</span>
      }
    </a>
  }

  @if (!isAlunoOrProfessor && showEditAndDelete) {
    <a mat-list-item (click)="click('R')">
      <i class="fa fa-2x fa-trash-o" mat-list-icon></i>
      <span mat-line>Remover</span>
    </a>
  }
</mat-nav-list>
