<p-card>
  <ng-template pTemplate="header">
    <div class="flex items-center gap-2 px-4 pt-4">
      <i aria-hidden="true" class="pi pi-chart-bar text-lg text-gray-600"></i>
      <h3 class="text-lg font-semibold m-0">Meu Histórico</h3>
    </div>
  </ng-template>

  @if (loading()) {
    <div class="p-4">
      <p-skeleton height="16rem" width="100%"/>
    </div>
  } @else if (!hasData()) {
    <div class="flex flex-col items-center justify-center py-8 text-gray-500">
      <i aria-hidden="true" class="pi pi-chart-bar text-4xl mb-2"></i>
      <p class="text-sm">Nenhum empréstimo nos últimos meses</p>
    </div>
  } @else {
    <div class="h-64 p-4" id="usage-chart-container"></div>
  }
</p-card>
