<div class="container-fluid my-3">
  <mat-card>
    <mat-card-title>
      <div class="d-flex align-items-center justify-content-between">
        <h4 class="m-0">Estado</h4>
      </div>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>

      <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="uf">
            <mat-header-cell *matHeaderCellDef mat-sort-header>UF</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.uf}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="pais">
            <mat-header-cell *matHeaderCellDef mat-sort-header>País</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.pais.nome}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

            <mat-paginator
                [length]="totalElements"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                [pageSizeOptions]="[5, 10, 25, 50, 100]"
                (page)="onPageChange($event)">
          </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
