<div class="container-fluid my-3" style="height: calc(100vh - 80px)">
  <p-card styleClass="h-full">
    <ng-template pTemplate="header">
      <div class="flex items-center justify-between p-4">
        <div class="flex items-center gap-3">
          <app-voltar (onClick)="back()"></app-voltar>
          <h2 class="text-xl font-semibold m-0">{{relatorioCurrent?.nome}}</h2>
        </div>
        @if (relatorioCurrent?.paramsList.length > 0) {
          <button
            type="button"
            pButton
            icon="fa fa-filter"
            pTooltip="Filtro"
            tooltipPosition="left"
            class="p-button-rounded p-button-text"
            (click)="dialogFiltroRelatorio = true">
          </button>
        }
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <div style="height: calc(100vh - 200px);">
        <iframe [src]="reportHTML" width="100%" height="100%" class="border-0" style="border-radius: 5px"></iframe>
      </div>
    </ng-template>
  </p-card>
</div>

@if (relatorioCurrent?.paramsList.length > 0) {
  <p-dialog header="Filtro"
    [(visible)]="dialogFiltroRelatorio"
    [style]="{minWidth: '400px'}"
    [modal]="true"
    [baseZIndex]="10000"
    [focusOnShow]="false">
    <form #formFiltro="ngForm">
      @for (param of relatorioCurrent?.paramsList; track param) {
        <div class="grid grid-cols-12 gap-4 mb-4">
          <div class="col-span-12">
            <div class="form-group">
              <label [for]="param.nameParam">{{param.aliasParam}}</label>
              @if (param.tipoParam === 'D') {
                <p-datePicker
                  [name]="param.nameParam"
                  [inputId]="param.nameParam"
                  appendTo="body"
                  dataType="string"
                  (onSelect)="onChangeValueParam($event, 'D', param.nameParam)"
                  dateFormat="dd/mm/yy"
                  [style]="{width: '100%'}"
                  inputStyleClass="w-full">
                </p-datePicker>
              }
              @if (param.tipoParam === 'S') {
                <input
                  pInputText
                  type="text"
                  [name]="param.nameParam"
                  [id]="param.nameParam"
                  (keyup)="onChangeValueParam($event, 'S', param.nameParam)"
                  class="w-full">
              }
              @if (param.tipoParam === 'N') {
                <input
                  pInputText
                  type="number"
                  [name]="param.nameParam"
                  [id]="param.nameParam"
                  (keyup)="onChangeValueParam($event, 'N', param.nameParam)"
                  onlyNumber
                  class="w-full">
              }
            </div>
          </div>
        </div>
      }

      <div class="flex justify-end gap-2 mt-4">
        <p-button
          label="Cancelar"
          severity="secondary"
          (onClick)="dialogFiltroRelatorio = false">
        </p-button>
        <p-button
          label="Filtrar"
          type="submit"
          (onClick)="filtrar()"
          [disabled]="!filtroIsValid()">
        </p-button>
      </div>
    </form>
  </p-dialog>
}

