<div class="container-fluid my-3">
  <p-card>
    <ng-template pTemplate="header">
      <div class="flex items-center justify-between p-4">
        <div class="flex items-center gap-3">
          <app-voltar (backClick)="back()"></app-voltar>
          <h2 class="text-xl font-semibold m-0">Devolução do Empréstimo</h2>
        </div>
        @if (emprestimo()?.dataDevolucao) {
          <p-tag value="Devolução Finalizada" severity="success"></p-tag>
        }
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <form #form="ngForm">
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 md:col-span-2">
            <div class="form-group">
              <label for="id">Código</label>
              <input type="text"
                id="id"
                name="id"
                disabled
                class="form-control"
                     [ngModel]="emprestimo()?.id"
                pInputText>
            </div>
          </div>

          <div class="col-span-12 md:col-span-8">
            <div class="form-group">
              <label for="usuarioEmprestimo">Aluno/Professor</label>
              <span class="field-required">*</span>
              <input type="text"
                id="usuarioEmprestimo"
                name="usuarioEmprestimo"
                disabled
                class="form-control"
                     [ngModel]="emprestimo()?.usuarioEmprestimo?.nome"
                pInputText>
            </div>
          </div>

          <div class="col-span-12 md:col-span-2">
            <div class="form-group">
              <label for="documento">RA/SIAPE</label>
              <input type="text"
                id="documento"
                name="documento"
                class="form-control"
                     [ngModel]="documentoUsuario()"
                disabled
                pInputText>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-12 gap-4 mt-4">
          <div class="col-span-12 md:col-span-6">
            <div class="form-group">
              <label for="usuarioResponsavel">Usuário Responsável</label>
              <input type="text"
                id="usuarioResponsavel"
                name="usuarioResponsavel"
                class="form-control"
                     [ngModel]="emprestimo()?.usuarioResponsavel?.nome"
                pInputText
                disabled>
            </div>
          </div>

          <div class="col-span-12 md:col-span-2">
            <div class="form-group">
              <label for="dataCompra">Data do Empréstimo</label>
              <span class="field-required">*</span>
              <p-datePicker name="dataCompra"
                id="dataCompra"
                required
                validation
                dataType="string"
                dateFormat="dd/mm/yy"
                inputStyleClass="form-control"
                            [readonlyInput]="breakpointService.isMobile()"
                            [touchUI]="breakpointService.isMobile()"
                disabled
                            class="w-full"
                            [ngModel]="emprestimo()?.dataEmprestimo">
              </p-datePicker>
            </div>
          </div>

          <div class="col-span-12 md:col-span-2">
            <div class="form-group">
              <label for="prazoDevolucao">Prazo de Devolução</label>
              <span class="field-required">*</span>
              <p-datePicker name="prazoDevolucao"
                id="prazoDevolucao"
                required
                validation
                dataType="string"
                dateFormat="dd/mm/yy"
                inputStyleClass="form-control"
                            [readonlyInput]="breakpointService.isMobile()"
                            [touchUI]="breakpointService.isMobile()"
                disabled
                            class="w-full"
                            [ngModel]="emprestimo()?.prazoDevolucao">
              </p-datePicker>
            </div>
          </div>

          <div class="col-span-12 md:col-span-2">
            <div class="form-group">
              <label for="dataDevolucao">Data de Devolução</label>
              <span class="field-required">*</span>
              <p-datePicker name="dataDevolucao"
                id="dataDevolucao"
                required
                validation
                dataType="string"
                dateFormat="dd/mm/yy"
                inputStyleClass="form-control"
                            [readonlyInput]="breakpointService.isMobile()"
                            [touchUI]="breakpointService.isMobile()"
                disabled
                            class="w-full"
                            [ngModel]="emprestimo()?.dataDevolucao">
              </p-datePicker>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-12 gap-4 mt-4">
          <div class="col-span-12 md:col-span-4">
            <div cdkDropList
              #pendentesList="cdkDropList"
              class="container-kanban border-primary"
                 [cdkDropListData]="itensPendentes()"
              [cdkDropListConnectedTo]="[devolvidosList, saidasList]"
              (cdkDropListDropped)="drop($event)">

              <div class="flex justify-between container-title-kanban">
                <h4 class="m-0">Pendentes</h4>
                <p-tag [value]="(itensPendentes().length || 0).toString()" severity="info"></p-tag>
              </div>

              <p-scrollPanel [style]="{width: '100%', height: '450px'}">
                @for (item of itensPendentes(); track item) {
                  <div class="card-item-kanban border-primary shadow-md"
                    (contextmenu)="onContextMenu($event, item)"
                    cdkDrag>
                    <span>{{item?.item?.nome}}</span>
                    <p-tag [value]="item.qtde.toString()" severity="secondary"></p-tag>
                  </div>
                }

                @if (itensPendentes().length === 0) {
                  <div class="flex items-center justify-center h-full">
                    <span class="font-semibold text-gray-600">Não há nenhum item pendente para devolução.</span>
                  </div>
                }
              </p-scrollPanel>

              <div class="invisible fixed"
                [style.left.px]="contextMenuPosition.x"
                [style.top.px]="contextMenuPosition.y">
                <p-menu #contextMenu [model]="contextMenuItems" [popup]="true"></p-menu>
              </div>
            </div>
          </div>

          <div class="col-span-12 md:col-span-4">
            <div cdkDropList
              #devolvidosList="cdkDropList"
              class="container-kanban border-success"
                 [cdkDropListData]="itensDevolvidos()"
              [cdkDropListConnectedTo]="[pendentesList, saidasList]"
              (cdkDropListDropped)="drop($event)">

              <div class="flex justify-between container-title-kanban items-center">
                <h4 class="m-0">Devolvidos</h4>
                <p-tag [value]="(itensDevolvidos().length || 0).toString()"
                       severity="success"></p-tag>
              </div>

              <p-scrollPanel [style]="{width: '100%', height: '450px'}">
                @for (item of itensDevolvidos(); track item) {
                  <div class="card-item-kanban border-success shadow-md"
                       [cdkDragDisabled]="emprestimo()?.dataDevolucao"
                    cdkDrag>
                    <span>{{item.item.nome}}</span>
                    <p-tag [value]="item.qtde.toString()" severity="secondary"></p-tag>
                  </div>
                }

                @if (itensDevolvidos().length === 0) {
                  <div class="flex items-center justify-center h-full">
                    <span class="font-semibold text-gray-600">Arraste até aqui os itens que serão devolvidos.</span>
                  </div>
                }
              </p-scrollPanel>
            </div>
          </div>

          <div class="col-span-12 md:col-span-4">
            <div cdkDropList
              #saidasList="cdkDropList"
                 [cdkDropListData]="itensSaida()"
              [cdkDropListConnectedTo]="[pendentesList, devolvidosList]"
              class="container-kanban border-danger"
              (cdkDropListDropped)="drop($event)">

              <div class="flex justify-between container-title-kanban">
                <h4 class="m-0">Saída</h4>
                <p-tag [value]="(itensSaida().length || 0).toString()" severity="danger"></p-tag>
              </div>

              <p-scrollPanel [style]="{width: '100%', height: '450px'}">
                @for (item of itensSaida(); track item) {
                  <div
                    class="card-item-kanban border-danger shadow-md"
                    [cdkDragDisabled]="emprestimo()?.dataDevolucao"
                    cdkDrag>
                    <span>{{item.item.nome}}</span>
                    <p-tag [value]="item.qtde.toString()" severity="secondary"></p-tag>
                  </div>
                }
                @if (itensSaida().length === 0) {
                  <div class="flex items-center justify-center h-full">
                    <span class="font-semibold text-gray-600">Arraste até aqui os itens que terão saídas permanentes.</span>
                  </div>
                }
              </p-scrollPanel>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-12 gap-4 mt-4">
          <div class="col-span-12">
            <div class="form-group">
              <label for="observacao">Observação</label>
              <textarea id="observacao"
                name="observacao"
                rows="1"
                class="form-control"
                disabled
                pInputTextarea
                        [ngModel]="emprestimo()?.observacao"
                autoResize="autoResize">
              </textarea>
            </div>
          </div>
        </div>

        <div class="flex justify-end gap-2 mt-4">
          <app-cancelar (cancelClick)="back()"></app-cancelar>
          <app-salvar (saveClick)="saveDevolucao()" [disabled]="!!emprestimo()?.dataDevolucao"
                      [typeButton]="'button'"></app-salvar>
        </div>
      </form>
    </ng-template>
  </p-card>
</div>

<p-dialog header="Duplicar Item"
  [(visible)]="dialogDuplicaItem"
          [baseZIndex]="Z_INDEX.DIALOG"
  [modal]="true"
          class="dialog-sm"
  [focusOnShow]="false">

  <form (submit)="duplicarItem()">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12">
        <div class="form-group">
          <label for="dtIni">Informe a nova quantidade</label>
          <span class="float-right font-semibold">Max.: {{ itemIsEditing.qtde - 1 }}</span>
          <input name="dtIni"
            id="dtIni"
            onlyNumber
            (keyup.enter)="duplicarItem()"
            [(ngModel)]="qtdeItemDuplicado"
            class="form-control"
            pInputText/>
        </div>
      </div>
    </div>

    <div class="flex justify-end gap-2 mt-4">
      <p-button
        label="Cancelar"
        severity="secondary"
        (onClick)="dialogDuplicaItem = false"
      ></p-button>
      <p-button
        label="Ok"
        type="submit"
        [disabled]="disableBtnSaveDuplicar()"
      ></p-button>
    </div>
  </form>
</p-dialog>
