<div class="container" style="margin-bottom: 500px">
  <p-card>
    <ng-template pTemplate="header">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <app-voltar (onClick)="back()"></app-voltar>
          <h4 class="m-0">Cadastro de Empréstimo</h4>
        </div>
        @if (object.dataDevolucao) {
          <span
            class="badge badge-success float-right"
            style="font-size: 15px"
            >Empréstimo Finalizado</span
            >
          }
        </div>
      </ng-template>

      <form #form="ngForm">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="id">Código</label>
              <input
                type="text"
                id="id"
                name="id"
                disabled
                class="form-control"
                [(ngModel)]="object.id"
                pInputText
                />
              </div>
            </div>

            <div class="col-md-8">
              <div class="form-group">
                <label for="usuarioEmprestimo">Aluno/Professor</label>
                <span class="field-required">*</span>
                <p-autoComplete
                  id="usuarioEmprestimo"
                  name="usuarioEmprestimo"
                  required
                  validation
                  appendTo="body"
                  field="nome"
                  [style]="{ width: '100%' }"
                  [inputStyle]="{ width: '95%' }"
                  [forceSelection]="true"
                  [dropdown]="true"
                  [(ngModel)]="object.usuarioEmprestimo"
              (ngModelChange)="
                documentoUsuario = object.usuarioEmprestimo.documento
              "
                  [suggestions]="usuarioList"
                  [disabled]="disableForm"
                  (onClear)="object.usuarioEmprestimo = null"
                  (completeMethod)="findUsuarios($event)"
                  >
                </p-autoComplete>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label for="documento">RA/SIAPE</label>
                <input
                  type="text"
                  id="documento"
                  name="documento"
                  class="form-control"
                  pInputText
                  [(ngModel)]="documentoUsuario"
                  disabled
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="usuarioResponsavel">Usuário Responsável</label>
                  <input
                    type="text"
                    id="usuarioResponsavel"
                    name="usuarioResponsavel"
                    class="form-control"
                    pInputText
                    [(ngModel)]="object.usuarioResponsavel.nome"
                    disabled
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="dataEmprestimo">Data do Empréstimo</label>
                    <span class="field-required">*</span>
                    <p-datePicker
                      name="dataEmprestimo"
                      id="dataEmprestimo"
                      required
                      validation
                      dataType="string"
                      dateFormat="dd/mm/yy"
                      inputStyleClass="form-control"
                      (onSelect)="setDateMinPrazoDevolucao()"
                      [disabled]="disableForm"
                      [maxDate]="maxDateEmprestimo"
                      [style]="{ width: '100%' }"
                      [(ngModel)]="object.dataEmprestimo"
                      >
                    </p-datePicker>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="prazoDevolucao">Prazo de Devolução</label>
                    <span class="field-required">*</span>
                    <p-datePicker
                      name="prazoDevolucao"
                      id="prazoDevolucao"
                      required
                      validation
                      dataType="string"
                      dateFormat="dd/mm/yy"
                      inputStyleClass="form-control"
                      [disabled]="disableForm"
                      [minDate]="minDatePrazoDevolucao"
                      [style]="{ width: '100%' }"
                      [(ngModel)]="object.prazoDevolucao"
                      >
                    </p-datePicker>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="dataDevolucao">Data de Devolução</label>
                    <p-datePicker
                      name="dataDevolucao"
                      id="dataDevolucao"
                      dataType="string"
                      dateFormat="dd/mm/yy"
                      inputStyleClass="form-control"
                      disabled
                      [style]="{ width: '100%' }"
                      [(ngModel)]="object.dataDevolucao"
                      >
                    </p-datePicker>
                  </div>
                </div>
              </div>

              @if (!disableForm) {
                <div class="row mb-3">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="item">Item</label>
                      &nbsp;
                      @if (emprestimoItem?.item) {
                        <span class="float-right"
                          >Saldo: {{ emprestimoItem?.item?.saldo }}</span
                          >
                      }
                      <app-cadastroRapido
                        [href]="'/item/form'"
                        [id]="emprestimoItem?.item?.id"
                      ></app-cadastroRapido>
                      <p-autoComplete
                        id="item"
                        name="item"
                        appendTo="body"
                        field="nome"
                        #itemToAdd
                        [style]="{ width: '100%' }"
                        [inputStyle]="{ width: '95%' }"
                        [dropdown]="true"
                        (keyup.control.arrowRight)="setFocusInputQtde()"
                        (keyup.control.enter)="insertItem()"
                        [(ngModel)]="emprestimoItem.item"
                        (onSelect)="setDevolucaoItem()"
                        [suggestions]="itemList"
                        (onClear)="clearNewItem()"
                        (completeMethod)="findProdutos($event)"
                        >
                        <ng-template let-item pTemplate="item">
                          <img
                  src="{{
                    item.imageItem.length > 0
                      ? minioUrl + item.imageItem[0].nameImage
                      : ''
                  }}"
                            [class]="'mr-2 flag'"
                            style="width: 70px"
                            />
                            &nbsp;
                            <span>{{ item.nome }}</span>
                            <span class="autocomplete-separator-field">{{
                              item.patrimonio
                            }}</span>
                          </ng-template>
                        </p-autoComplete>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="devolvido">Devolver</label>
                        <p-select
                          [options]="yesNoDropdown"
                          [(ngModel)]="itemDevolver"
                          [style]="{ width: '100%' }"
                          [disabled]="true"
                          id="devolvido"
                          name="devolvido"
                          >
                        </p-select>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="qtde">Quantidade</label>
                        <input
                          type="number"
                          id="qtde"
                          autocomplete="off"
                          #qtdeToAdd
                          onlyNumber
                          [disabled]="emprestimoItem?.item?.patrimonio != null"
                          [(ngModel)]="emprestimoItem.qtde"
                          (keyup.control.arrowLeft)="setFocusInputItem()"
                          (keyup.control.enter)="insertItem()"
                          name="qtde"
                          class="form-control"
                          pInputText
                          />
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="invisible">Action</label>
                          <button
                            type="button"
              style="
                height: 35px;
                justify-content: center;
                display: flex;
                align-items: center;
              "
                            class="form-control"
                            (click)="insertItem()"
                            mat-stroked-button
                            >
                            <mat-icon>done</mat-icon> <span>Adicionar</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  }

                  @if (object?.emprestimoItem?.length > 0) {
                    <div
                      class="example-container mat-elevation-z8"
                      >
                      <mat-table #table="matTable" [dataSource]="object.emprestimoItem">
                        <ng-container matColumnDef="item">
                          <mat-header-cell *matHeaderCellDef> Item</mat-header-cell>
                          <mat-cell *matCellDef="let itemEmprestimo">
                            <p>{{ itemEmprestimo?.item?.nome }}</p>
                            @if (itemEmprestimo?.item?.patrimonio) {
                              <p class="ml-2">
                                | {{ itemEmprestimo.item.patrimonio }}
                              </p>
                            }
                          </mat-cell>
                          <mat-footer-cell *matFooterCellDef class="font-weight-bolder">
                            Total</mat-footer-cell
                            >
                          </ng-container>
                          <ng-container matColumnDef="devolver">
                            <mat-header-cell *matHeaderCellDef> Devolver</mat-header-cell>
                            <mat-cell *matCellDef="let itemEmprestimo">
                              @if (itemEmprestimo.item.tipoItem === 'C') {
                                <span>Sim</span>
                              }
                              @if (itemEmprestimo.item.tipoItem === 'P') {
                                <span>Não</span>
                              }
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container>
                          <ng-container matColumnDef="qtde">
                            <mat-header-cell *matHeaderCellDef> Qtde</mat-header-cell>
                            <mat-cell *matCellDef="let itemEmprestimo">
                              {{ itemEmprestimo.qtde }}
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef>
                              {{ getQtdeTotal() }}
                            </mat-footer-cell>
                          </ng-container>
                          <ng-container matColumnDef="actionsForm">
                            <mat-header-cell *matHeaderCellDef> Opções</mat-header-cell>
                            <mat-cell *matCellDef="let itemEmprestimo">
                              <button
                                class="btn btn-outline-primary rounded"
                                type="button"
                                pTooltip="Remover"
                                [disabled]="disableForm"
                                (click)="removeItem(itemEmprestimo.item.id)"
                                >
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container>
                          <mat-header-row
                            *matHeaderRowDef="displayedColumns; sticky: true"
                          ></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                          <mat-footer-row
                            *matFooterRowDef="displayedColumns; sticky: true"
                            class="font-weight-bolder"
                          ></mat-footer-row>
                        </mat-table>
                      </div>
                    }

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="observacao">Observação</label>
                          <textarea
                            id="observacao"
                            name="observacao"
                            rows="1"
                            class="form-control"
                            pInputTextarea
                            [disabled]="disableForm"
                            [(ngModel)]="object.observacao"
                            autoResize="autoResize"
                            >
                          </textarea>
                        </div>
                      </div>
                    </div>

                    @if (!disableForm) {
                      <div class="row">
                        <div class="col-md-12 d-flex justify-content-end">
                          <app-cancelar (onClick)="back()"></app-cancelar>
                          <app-salvar
                            (onClick)="save()"
                            [typeButton]="'button'"
                            [disabled]="object.dataDevolucao"
                          ></app-salvar>
                        </div>
                      </div>
                    }
                  </form>
                </p-card>
              </div>
