<p-card>
  <ng-template pTemplate="header">
    <div class="d-flex align-items-center justify-content-between">
      <h4 class="m-0">Item</h4>
    </div>
  </ng-template>
  <div>
    <div class="flex flex-col gap-2">
      <input
        #filtroInput
        matInput
        placeholder="Filtro"
        />
      </div>

      @if (itens) {
        <div class="card">
          <p-dataView #dv [value]="itens" [layout]="layout">
            <ng-template pTemplate="header">
              <div class="flex justify-content-end"></div>
            </ng-template>
            <ng-template pTemplate="list" let-itens>
              <div class="grid grid-nogutter">
                @for (item of itens; track item; let first = $first) {
                  <div
                    class="col-12"
                    class="col-12"
                    >
                    <div
                      class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
                      [class.border-top-1]="!first"
                      [class.surface-border]="!first"
                      >
                      <div class="md:w-10rem relative">
                        <img
                          class="w-200px"
                          class="block xl:block mx-auto border-round w-full"
                    [src]="
                      item.imageItem.length > 0
                        ? minioUrl + item.imageItem[0].nameImage
                        : ''
                    "
                          [alt]="item.nome"
                          />
                        </div>
                        <div
                          class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4"
                          >
                          <div
                            class="flex flex-row md:flex-column justify-content-between align-items-start gap-2"
                            >
                            <div>
                              <span class="font-medium text-secondary text-sm">{{
                                item.grupo.descricao
                              }}</span>
                              <div class="text-lg font-medium text-900 mt-2">
                                {{ item.patrimonio ? item.patrimonio + " - " : "" }}
                                {{ item.nome }}
                              </div>
                            </div>
                            <div class="surface-100 p-1" class="rounded-[30px]">
                              <div
                                class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
                        style="
                          border-radius: 30px;
                          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04),
                            0px 1px 2px 0px rgba(0, 0, 0, 0.06);
                        "
                                >
                                <span class="text-900 font-medium text-sm">{{
                                  item.localizacao
                                }}</span>
                                <i class="pi pi-star-fill text-yellow-500"></i>
                              </div>
                            </div>
                          </div>
                          <div class="flex flex-column md:align-items-end gap-5">
                            <span class="text-xl font-semibold text-900">{{
                              "Estoque Total " + item.saldo
                            }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  }
                </div>
              </ng-template>
              <ng-template let-item pTemplate="grid" let-itens>
                <div class="grid grid-nogutter">
                  @for (item of itens; track item) {
                    <div
                      class="col-12 sm:col-6 md:col-4 xl:col-6 p-2"
                      >
                      <div
                        class="p-4 border-1 surface-border surface-card border-round flex flex-column"
                        >
                        <div
                          class="surface-50 flex justify-content-center border-round p-3"
                          >
                          <div class="relative mx-auto">
                            <img
                              class="border-round w-full"
                      [src]="
                        item.imageItem.length > 0
                          ? minioUrl + item.imageItem[0].nameImage
                          : ''
                      "
                              [alt]="item.nome"
                              style="max-width: 300px"
                              />
                            </div>
                          </div>
                          <div class="pt-4">
                            <div
                              class="flex flex-row justify-content-between align-items-start gap-2"
                              >
                              <div>
                                <span class="font-medium text-secondary text-sm">{{
                                  item.grupo.descricao
                                }}</span>
                                <div class="text-lg font-medium text-900 mt-1">
                                  {{ item.nome }}
                                </div>
                              </div>
                              <div class="surface-100 p-1" class="rounded-[30px]">
                                <div
                                  class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
                        style="
                          border-radius: 30px;
                          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04),
                            0px 1px 2px 0px rgba(0, 0, 0, 0.06);
                        "
                                  >
                                  <span class="text-900 font-medium text-sm">{{
                                    item.localizacao
                                  }}</span>
                                </div>
                              </div>
                            </div>
                            <div class="flex flex-column gap-4 mt-4">
                              <span class="text-2xl font-semibold">{{
                                "Estoque Total " + item.saldo
                              }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    }
                  </div>
                </ng-template>
              </p-dataView>
            </div>
          }
        </div>
      </p-card>
