.example-container {
  height: auto;
  max-height: 400px;
  overflow: auto;
  margin-bottom: 2%;
}

.link-imagens {
  color: #292929;
  float: right;
  font-size: 1em;
  position: relative;
  top: 6px;
  padding-right: 10px;
}
.link-imagens:hover {
  text-decoration: none;
}