<div class="container-fluid my-3">
  <mat-card>
    <mat-card-title>
      <div class="d-flex align-items-center justify-content-between">
        <h4 class="m-0">Reserva</h4>
        <app-novo (onClick)="openForm()"></app-novo>
      </div>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>

      <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="openOptions(row)">{{row.id}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="descricao">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="openOptions(row)">{{row.descricao}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="dataReserva">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Data Reserva</mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="openOptions(row)">{{row.dataReserva}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="dataRetirada">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Data Retirada</mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="openOptions(row)">{{row.dataRetirada}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="usuario">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Usuário</mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="openOptions(row)">{{row.usuario.nome}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>

        <mat-paginator
            [length]="totalElements"
            [pageSize]="pageSize"
            [pageIndex]="pageIndex"
            [pageSizeOptions]="[5, 10, 25, 50, 100]"
            (page)="onPageChange($event)">
      </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
