<section *ngIf="isAuthenticated; else publicLayout" class="layout-auth">
  <app-toolbar></app-toolbar>
  <div class="flex flex-row h-[calc(100vh-40px)] w-full overflow-hidden">
    <aside id="sidenav" class="w-64 shrink-0 h-full overflow-y-auto border-r border-slate-200 bg-white">
      <app-sidenav></app-sidenav>
    </aside>
    <main id="content" class="flex-1 h-full overflow-y-auto px-4 pb-6 pt-4 bg-slate-50">
      <router-outlet></router-outlet>
      <app-loader></app-loader>
    </main>
  </div>
</section>

<ng-template #publicLayout>
  <main id="content" class="only-login flex flex-col min-h-screen w-full overflow-y-auto">
    <router-outlet></router-outlet>
    <app-loader></app-loader>
  </main>
</ng-template>

<p-toast></p-toast>
<p-confirmDialog
  [closeOnEscape]="true"
  [closable]="true"
  [baseZIndex]="999"
  acceptLabel="Sim"
  rejectLabel="Não">
</p-confirmDialog>
