<section>
  <div class="row" style="min-height: 100vh">

    @if (isAuthenticated) {
      <div class="col-12">
        <app-toolbar></app-toolbar>
      </div>
    }

    @if (isAuthenticated) {
      <div
        class="col-2"
        style="width: 250px; height: 100%; min-height: 100%"
        id="sidenav"
      >
        <app-sidenav></app-sidenav>
      </div>
    }
    <div
      class="col-10"
      [ngClass]="isAuthenticated ? 'content row' : 'only-login'"
      id="content"
    >
      <!--      TODO Identificar se o p-scrollPanel serve para algo, até agora não foi identificado nada -->
      <!--      <p-scrollPanel-->
      <!--        [style]="{ width: '100%', height: 'calc(100vh - 40px)', verticalAlign: 'top' }"-->
      <!--        styleClass="scrool-table-dash"-->
      <!--        >-->
      <!--        <router-outlet></router-outlet>-->
      <!--        <app-loader></app-loader>-->
      <!--      </p-scrollPanel>-->
      <router-outlet></router-outlet>
      <app-loader></app-loader>
    </div>
  </div>
</section>
<p-toast></p-toast>
<p-confirmDialog
  [closeOnEscape]="true"
  [closable]="true"
  [baseZIndex]="999"
  acceptLabel="Sim"
  rejectLabel="Não"
></p-confirmDialog>
