<div class="container-fluid my-3">
  <mat-card>
    <mat-card-title>
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <app-voltar (onClick)="back()"></app-voltar>
          <h4 class="m-0">Cadastro de Grupo</h4>
        </div>
        @if (object.id) {
          <div>
            <button type="button"
              (click)="showDialogItensVinculados()"
              pTooltip="Itens Vinculados"
              mat-icon-button>
              <mat-icon>widgets</mat-icon>
            </button>
          </div>
        }
      </div>
    </mat-card-title>
    <mat-card-content>
      <form #form="ngForm" (submit)="save()">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="id">Código</label>
              <input type="text"
                id="id"
                name="id"
                disabled
                class="form-control"
                [(ngModel)]="object.id"
                pInputText>
              </div>
            </div>

            <div class="col-md-10">
              <div class="form-group">
                <label for="descricao">Descrição</label>
                <span class="field-required">*</span>
                <input type="text"
                  id="descricao"
                  name="descricao"
                  required
                  validation
                  class="form-control"
                  [(ngModel)]="object.descricao"
                  pInputText>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 d-flex justify-content-end">
                <app-cancelar (onClick)="back()"></app-cancelar>
                <app-salvar [typeButton]="'submit'"></app-salvar>
              </div>
            </div>
          </form>

        </mat-card-content>
      </mat-card>
    </div>

    <p-dialog header="Itens Vinculados"
      [modal]="true"
      [(visible)]="dialogItensRelacionados"
      [style]="{minWidth: '650px'}"
      [baseZIndex]="10000">

      <div class="example-container mat-elevation-z8">
        <mat-table #table="matTable"  [dataSource]="itensVinculados">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Cód</mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef>Descrição</mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.nome}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </p-dialog>
