<mat-drawer-container class="example-sidenav" style="height: calc(100vh - 50px)">
  <mat-drawer #drawer id="drawer" [opened]="true" mode="side" style="width: 100%" [disableClose]="true" class="drawer float-drawer">
    <mat-nav-list id="link-menu">
      @for (menuItem of menuItems; track menuItem) {
        <a mat-list-item [id]="[menuItem.id]" [routerLink]="[menuItem.path]"
          routerLinkActive="active" class="text-white fcolor" style="height: 50px; font-size: 0.7rem !important;">
          <i class="fa fa-{{menuItem.icon}} mr-2 color-icons" mat-list-icon></i>
          {{menuItem.title}}
          <mat-divider style="background-color: rgba(255, 255, 255, 0.2) !important;"></mat-divider>
        </a>
      }

      @if (showCadastros) {
        <a mat-list-item (click)="toggleSubMenuCadastro()" class="text-white fcolor" style="height: 50px; font-size: 0.7rem !important;">
          <i class="fa fa-pencil mr-2 color-icons" mat-list-icon></i>
          Cadastros
          @if (!showSubMenuCadastro) {
            <mat-icon>chevron_right</mat-icon>
          }
          @if (showSubMenuCadastro) {
            <mat-icon>chevron_right</mat-icon>
          }
        </a>
      }

      @if (showSubMenuCadastro) {
        <mat-nav-list class="sidenav-submenu" style="margin-left: 25px !important;">
          @for (menuItem of menuCadastros; track menuItem) {
            <a mat-list-item [id]="[menuItem.id]" [routerLink]="[menuItem.path]"
              routerLinkActive="active" class="text-white fcolor" style="height: 50px; font-size: 0.7rem !important;">
              <i class="fa fa-{{menuItem.icon}} mr-2 color-icons" mat-list-icon></i>
              {{menuItem.title}}
              <mat-divider style="background-color: rgba(255, 255, 255, 0.2) !important;"></mat-divider>
            </a>
          }
        </mat-nav-list>
      }

    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>
