.example-sidenav {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 50px);
}

mat-sidenav {
  width: 260px !important;
}

mat-drawer-container {
  background-color: transparent;
}

.color-toolbar {
  color: #000000;
}

.color-icons {
  color: white;
}

a {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.float-drawer {
  margin: 15px;
  border-radius: 10px;
}

.drawer {
  width: 90% !important;
  background: linear-gradient(0deg, #334873 0px, #222d43 100%);
}

#btn-sidenav > i {
  color: #FFFFFF;
}

#btn-sidenav {
  background-color: transparent;
  border-color: transparent;
  margin-right: 5px;
}

#drawer > mat-nav-list > a > span > span {
  color: #FFFFFF;
}

#link-menu > a > span > span {
  color: #FFFFFF;
}

::ng-deep .fcolor > span > span {
  color: #FFFFFF;
}
